[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">1.*"
click = "*"
jupyter = "*"
jupyterlab = "*"
kaggle = "*"
matplotlib = "*"
numpy = "*"
pytest = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
slugify = "*"

[packages]

[requires]
python_version = "3.7"
